body {
  background-color: #6c757d;
  color: rgb(219, 219, 219);
}

h1 {
  font-size: 50px;
  font-style: italic;
  
}

ul {
  list-style: none;
}

.bg-orange {
  background-color: orange;
}

.bg-violet {
  background-color: violet;
}